* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	background-color: rgb(184, 184, 184);
	height: 100%;
}

h1 {
	text-align: center;
	color: rgb(41, 41, 41);
}

#content {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	/* Changed from min-height to height */
}

#graph-wrapper {
	flex: 1;
	max-height: 100vh;
	width: 100%;
}

#mynetwork {
	padding: 5px;
	/* Changed from flex: 1 to flex-grow: 1 */

	width: 100%;
	height: 100%;
	z-index: 0;
}

#configs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	color: rgb(27, 27, 27);
}

#control_div {
	padding: 5px;
}

#config-bar {
	position: fixed;
	bottom: 2vh;
	right: 5px;
	z-index: 1000;
}

#results-bar {
	position: fixed;
	bottom: 2vh;
	left: 20px;
	z-index: 1000;
}

.bar {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.037);
	padding: 2px;
}

.bar p {
	font-weight: bold;
	padding: 4px;
}

.bar span {
	font-weight: normal;
}

@media (min-width: 400px) {
	#configs {
		flex-direction: column;
		align-items: center;

		max-height: 80vh;
		overflow: auto;
	}

	#results-bar {
		max-width: 15%;
		min-width: min-content;
	}

	.bar {
		max-height: 85vh;
		overflow: auto;
	}
}
